<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="conainer">

    <a href="/adminHome" class="three-divide fa fa-home fa-2x"></a>
    <a href="/adminAccounts" title="Accounts" class="three-divide fa fa-user fa-2x"></a>
    <a href="/adminUsers" title="Users" class="three-divide fa fa-users fa-2x"></a>
  
  </div>
</nav>