<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" class="footer">
  <div class="container">

    <a href="/homeBusUser" class="three-divide fa fa-home fa-2x"></a>
    <a href="/uploadtest" class="three-divide fa fa-edit fa-2x"></a>
    <a href="/busProfile" class="three-divide fa fa-user fa-2x"></a>
  
  </div>
</nav>