<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="conainer">

    <a href="/homeUser" class="four-divide fa fa-home fa-2x"></a>
    <a href="/gps" onclick="getLocation();" class="four-divide fa fa-map-marker fa-2x"></a>
    <a href="/search" class="four-divide fa fa-search fa-2x"></a>
    <a href="/profileUser" class="four-divide fa fa-user fa-2x"></a>
  
  </div>
</nav>