<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="conainer">

    <a href="/homeUser" class="four-divide></a>
    <a href="/gps" class="four-divide"></a>
    <a href="/search" class="four-divide"></a>
    <a href="/profileUser" class="four-divide"></a>
  
  </div>
</nav>